go 1.21.5

use (
	./chatgpt-basic
	./go-es-poc
	./go-kafka-poc
	./golang-docker-poc
	./golang-gin-poc
	./grpc-api-poc
	./redis-gofiber-poc/api
	./rest-api-poc
	./simple-blockchain-go
	./tcp-server-poc
	./tcp-server-poc/cmd/server
)
